@model NewProductViewModel
@{
    ViewBag.Title = "Create";
}

<h2>Create Product</h2>

<form id="createProduct">
    <div class="form-group">
        <label>Category</label>
        <select class="form-control" name="CategoryID">
            @foreach (var category in Model.AvailableCategories)
            {
                <option value="@category.ID">@category.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label>Name</label>
        <input class="form-control" name="Name" />
    </div>
    <div class="form-group">
        <label>Description</label>
        <input class="form-control" name="Description" />
    </div>

    <div class="form-group">
        <label>Image</label>
        <input name="ImageURL" type="hidden" id="productImageURL" />
        <input id="imageUpload" name="Image" type="file" accept=".jpg, .png, .jpeg" />   @*without the name attribute the input will not be sent*@
        <img id="productImage" width="300" height="400" />
    </div>

        <div class="form-group">
            <label>Price</label>
            <input class="form-control" name="Price" />
        </div>
        <button id="saveBtn" type="button" class="btn btn-primary">Save</button>
</form>

<script>
    $("#saveBtn").click(function () {
        $.ajax({
            type: 'POST',
            url: '/Product/Create',
            data: $("#createProduct").serialize()
        })
            .done(function (response) {
                $("#tableContiner").html(response);
                $("#actionContainer").html("");

            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAIL");
            });
    });

    $("#imageUpload").change(function () {
        var element = this;
        var formData = new FormData();
        var totalFiles = element.files.length;
        for (var i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("Photo", file);
        }

        $.ajax({
            type: "POST",
            url: "/Shared/UploadImage",
            datatype: 'json',
            data: formData,
            contentType: false,
            processData: false
        })
            .done(function (response) {
                console.log(response);
                if (response.Success) {
                    $("#productImageURL").val(response.ImageURL);
                    $("#productImage").attr("src", response.ImageURL);
                }
            })
            .fail(function (xmlhttprequest, textstatus, errorthrown) {
                alert("FAILED");
            });
    });
</script>
