@model ClothBazar.Web.Models.RequestData
@{
    ViewBag.Title = "Payment";
}

<h2>Payment</h2>

<html>
<head>

</head>
<body>
    <div align="center">
        @using (Html.BeginForm("CreatePayment", "Home", FormMethod.Post))
        {
            <table>
                <tr>
                    <td>Mobile Number :</td>
                    <td><input type="text" name="mobileNumber" value="" /></td>
                </tr>
                <tr>
                    <td>Email :</td>
                    <td><input type="text" name="mail" value="" /></td>
                </tr>
                <tr>
                    <td>Amount :</td>
                    <td><input type="text" name="amount" value="" /></td>
                </tr>
            </table>
            <pre><input type="submit" value="Save" /></pre>
        }
    </div>
</body>
</html>
